.dart_tool/
.packages
.pub/
build/

android/.gradle/
android/app/debug
android/app/profile
android/app/release

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

.vscode/
.idea/
*.iml

#firebase
firebase.json
.firebaserc
android/app/google-services.json
lib/firebase_options.dart